<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Topografie Brocken</title>
<link href="/public/app.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/public/app.js" defer></script>
<script type="text/javascript" src="/public/sessionvars.js"></script>

</head>

<body marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">


	<div> <a href="#" ontouchstart="show('popup1')">
		<img src="public/images/info_butt.png" width="75" height="75" style="position: absolute; left: 1800px; top:48px; z-index: 16000;">
		</a>
	<div class="popup" id="popup1"><a href="#" ontouchstart="hide('popup1')"><img src="public/images/credits.jpg" width="1500" height="800" alt=""/></a></div>
	</div>

	<div class="playOverlay" id="3_0"><a href="#"><img src="public/images/03_00.jpg" width="1920" height="1080" alt=""/></a></div>
	<div class="playOverlay" id="3_1"><a href="#"><img src="public/images/03_01.jpg" width="1920" height="1080" alt=""/></a></div>
	<div class="playOverlay" id="3_2"><a href="#"><img src="public/images/03_02.jpg" width="1920" height="1080" alt=""/></a></div>
	<div class="playOverlay" id="3_3"><a href="#"><img src="public/images/03_03.jpg" width="1920" height="1080" alt=""/></a></div>
	<div class="playOverlay" id="3_4"><a href="#"><img src="public/images/03_04.jpg" width="1920" height="1080" alt=""/></a></div>
	<div class="playOverlay" id="3_5"><a href="#"><img src="public/images/03_05.jpg" width="1920" height="1080" alt=""/></a></div>
	<div class="playOverlay" id="3_6"><a href="#"><img src="public/images/03_06.jpg" width="1920" height="1080" alt=""/></a></div>


	<div class="bg_lebens">


		<canvas id="loader_canvas" width="500" height="500" style="position:absolute; top: 44px; left:100px; z-index: 15000;"> </canvas>
    <!-- <script src="public/loaderApp_03.js" charset="utf-8"></script> -->

	<div class="silhouette">

		<!-- <div class="lebens_head"> 	Lebensräume&nbsp;&nbsp; </div>
		<div class="klima">

		<a href="/index.html"><img src="public/icons/lebensraeume.png" width="300" height="300"></a>
		</div> -->

		<div class="subs">

			<div class="iconwidth" align="center">
				<a class="iconfield" ontouchstart="sendEvent(event, 'A-3_1', 'B-3_1', '{\'h\': \'p\',\'id\': \'376372\'}')" style="position: absolute; left:100px;">
					<!-- <img src="public/images/playlebens.png" width="150" height="150" style="position: relative; :20px;" alt=""/><br>
					<h1>Buchenwald</h1> -->
				</a>
		  	</div>

			<div class="iconwidth" align="center">
				<a class="iconfield" ontouchstart="sendEvent(event, 'A-3_2', 'B-3_2', '{\'h\': \'p\',\'id\': \'376373\'}')" style="position: absolute; left:100px;" >
					<!-- <img src="public/images/playlebens.png" width="150" height="150" style="position: relative; left:40px;"><br>
					<h1>Bergfichtenwald</h1> -->
				</a>
 			</div>

			<div class="iconwidth" align="center">
				<a class="iconfield" ontouchstart="sendEvent(event, 'A-3_3', 'B-3_3', '{\'h\': \'p\',\'id\': \'376374\'}')" style="position: absolute; left:90px;">
					<!-- <img src="public/images/playlebens.png" width="150" height="150" style="position: relative; left:60px;"><br>
					<h1>Zwergstrauchheide</h1> -->
				</a>
 			</div>

			<div class="iconwidth" align="center" style="position: relative; left:30px;">
				<a class="iconfield" ontouchstart="sendEvent(event, 'A-3_4', 'B-3_4', '{\'h\': \'p\',\'id\': \'376375\'}')" style="position: absolute; left:50px;">
					<!-- <img src="public/images/playlebens.png" width="150" height="150" style="position: relative; left:20px; display:table-column;"><br>
					<h1>Felsen und Blockhalden</h1> -->
				</a>
 			</div>

			<div class="iconwidth" align="center" style="position: relative; left:30px;">
				<a class="iconfield" ontouchstart="sendEvent(event, 'A-3_5', 'B-3_5', '{\'h\': \'p\',\'id\': \'376376\'}')" style="position: absolute; left:40px;">
					<!-- <img src="public/images/playlebens.png" width="150" height="150" style="position: relative; left:0px; display:table-column;"><br>
					<h1>Moore</h1> -->
				</a>
 			</div>

			<div class="iconwidth" align="center" style="position: relative; left:-30px;" >
				<a class="iconfield" ontouchstart="sendEvent(event, 'A-3_6', 'B-3_6', '{\'h\': \'p\',\'id\': \'376377\'}')" style="position: absolute; left:100px;">
					<!-- <img src="public/images/playlebens.png" width="150" height="150" style="position: relative; left:30px; display:table-column;"><br>
					<h1>Fließgewässer</h1> -->
				</a>
 			</div>
		</div>

		<div class="icons">

			<div class="iconwidth">
				<a class="iconfield" ontouchstart="sendEvent(event, 'A-1_0', 'B-1_0', '{\'h\': \'p\',\'id\': \'376361\'}');hrefTo(0)" style="position: absolute; left: -40px;">
 					<!-- <img src="public/icons/geologie.png" width="150" height="150" alt="" style="position: absolute; left: -40px; top:10px;"/><br> -->
					<!-- <h1 style="display: none ; position: absolute; left: -40px; top:130px;"> Geologie</h1> -->
				</a>
		    </div>

			<div class="iconwidth">
				<a class="iconfield" ontouchstart="sendEvent(event, 'A-2_0', 'B-2_0', '{\'h\': \'p\',\'id\': \'376366\'}');hrefTo(1)" style="position: absolute; left: -30px;">
 					<!-- <img src="public/icons/klima.png" width="150" height="150" alt="" style="position: absolute; left: -20px;"/><br>
					<h1 style="display: none; position: absolute; left: -20px; top:130px;">Klima</h1> -->
				</a>
		    </div>

			<div class="iconwidth">
				<a class="iconfield" ontouchstart="sendEvent(event, 'A-3_0', 'B-3_0', '{\'h\': \'p\',\'id\': \'376371\'}');hrefTo(2)" style="position: absolute; left: -10px;">
 					<!-- <img src="public/icons/lebensraeume.png" width="150" height="150" style="display: none ; position: absolute; left: -10px; top:10px;"><br>
					<h1 style="display: none; position: absolute; left: -40px; top:130px;">Lebensräume</h1> -->
				</a>
		    </div>

			<div class="iconwidth">
				<a class="iconfield" ontouchstart="sendEvent(event, 'A-4_0', 'B-4_0', '{\'h\': \'p\',\'id\': \'376378\'}');hrefTo(3)" style="position: absolute; left: 10px;">
 					<!-- <img src="public/icons/national.png" width="150" height="150"  style="display: none ; position: absolute; left: 10px; top:10px;"><br>
					<h1 style="display: none; position: absolute; left: -10px; top:130px;">Nationalpark</h1> -->
				</a>
		    </div>

			<div class="iconwidth">
				<a class="iconfield" ontouchstart="sendEvent(event, 'A-5_0', 'B-5_0', '{\'h\': \'p\',\'id\': \'376383\'}');hrefTo(4)" style="position: absolute; left: 30px;">
 					<!-- <img src="public/icons/besuch.png" width="150" height="150" alt="" style="display: none; position: absolute; left: 30px; top:10px;"/><br>
					<h1 style="display: none; position: absolute; left: 30px; top:130px;">Besuch</h1> -->
				</a>
		    </div>

		</div>

  </div>


</div>

</body>
</html>
